body {
    text-align: center;
}

h1 {
    font-size: 35px;
    margin-top: 50px;
}

#av {
    width: 500px;
    height: 800px;
}

.menu {

    list-style-type: none;
    font-family: 'BebasNeue', cursive;
    font-size: 20px;
    margin-left: 200px;
    margin-top: -1px;
    position: absolute;
 
}

.links {
    float: left;
    padding-left: 8px;
    font-size: 20px;
}

.links:hover {
    background-color: darkturquoise
}